/**
 * Styles for get promocode block
 */
 
#get-promocode-block {
	position: relative;
	margin: 40px 0;
}
 
#get-promocode-block h2,
#get-promocode-block input,
#get-promocode-block .promocode-notice,
#get-promocode-block .success-notice,
#get-promocode-block #get-promocode-form .promocode-icon-success-wrap
{
	text-align: center;
	
}

#get-promocode-block .input-wrap {
	display: block;
}

#get-promocode-block .input-wrap,
#get-promocode-block .promocode-submit,
#get-promocode-block #get-promocode-form .promocode-icon-success-wrap {
	margin-bottom: 20px;
}

#get-promocode-block .promocode-notice {
	margin-bottom: 0;
	font-size: 12px;
}

#get-promocode-block #get-promocode-form #promocode-icon-success,
#get-promocode-block #get-promocode-form #promocode-icon-alert {
	width: 80px;
	height: 80px;
}

#get-promocode-block-wait.display-loading {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(242, 242, 242, .75);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#get-promocode-block-wait.display-hidden {
	display: none;
}

#get-promocode-block-wait:hover {
	cursor: wait;
}

#logo-block-wait {
	-webkit-transition: opacity 0.5s, transform 0.5s;
	-o-transition: opacity 0.5s, transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	-webkit-animation: logo-block-waiting 1.5s infinite;
	animation: logo-block-waiting 1.5s infinite;
}

@-webkit-keyframes logo-block-waiting {
	0% {
		opacity: .55;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}
	45% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	55% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	100% {
		opacity: .55;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}
}

@keyframes logo-block-waiting {
	0% {
		opacity: .55;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}
	45% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	55% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	100% {
		opacity: .55;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}
}